body{
    font-family:Arial,sense-serif;
    font-size:100%;
    width:800px;
    padding:1em;
    border: 2px solid blue;
}
address{
    font-size:180%;
    color: aqua;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blue
}
html{
    align-items:center;
}